[id="step-six"] {
  .final-text {
    padding: 25px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: $orange;
  }

  .footer-buttons {
    .btn-previous {
      margin-top: -5px;
    }
  }
}
