$orange: #FF6430;
$lightOrange: rgba(255, 100, 48, .65);
$darkGrey: #343c42;
$mediumGrey: #999999;
$grey: #747474;
$green: #14A76C;
$lightGreen: #a7f1a7;
$error: #ef5f56;
$yellow: #FFE400;
$featured: #FFE500;
$darkBlue: rgba(0, 92, 255, 1);
$blue: #0074E1;
$headerBlue: #151f31;
$mediumBlue: rgba(6, 116, 225, .75);
$lightBlue: rgba(6, 116, 225, .65);
$white: #FFFFFF;
$border-color: #e2e2e2;
$lighterBlue: #263a78;
